NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
SENDGRID_API_KEY=your_sendgrid_api_key
CONTACT_EMAIL=your@email.com
NEXT_PUBLIC_SITE_URL=https://yourdomain.com

# Admin panel password (change this!)
ADMIN_SECRET=admin1234
NEXT_PUBLIC_ADMIN_SECRET=admin1234

# MongoDB connection string
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/a2f?retryWrites=true&w=majority
